/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
:root {
    --background-color: #191919;
    --main-color: #fff;
    --heading-text-transform: uppercase;
    --heading-font-weight: 600;
    --heading1-size: 2.5em;
    --heading2-size: 1.6em;
    --heading3-size: 1.3em;
    --heading4-size: 1em;
    --link-color: #42affa;
    --link-color-hover: #8dcffc;
    --light-bg-text-color: #222;
    --dark-bg-text-color: inherit;
}
